<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RPC.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Estado" serializeAs="String">
                <value />
            </setting>
            <setting name="Detalhes" serializeAs="String">
                <value />
            </setting>
            <setting name="Aplicacao" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagemRaw" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagemBlob" serializeAs="String">
                <value />
            </setting>
        </RPC.Properties.Settings>
    </userSettings>
</configuration>